{% extends "base.html" %}
{% block page_title %}{{ title }}{% endblock %}
{% block main %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ title }}</h1>
            <p class="govuk-body">Call 0300 456 0300 (Monday to Friday, 9am to 5pm) or email <a class="govuk-link" href="mailto:customerservices@publicguardian.gov.uk">customerservices@publicguardian.gov.uk</a>.</p>
            <p class="govuk-body">If you have a question about an application you have already started, include your application reference if you know it.</p>
        </div>
    </div>
{% endblock %}
