{% extends "base.html" %}
{% block page_title %}Privacy notice{% endblock %}
{% block main %}
    <div class="text">
        <p class="govuk-visually-hidden" data-role="link-accessibility-statement">The links on this page open in new tabs.</p>
        <p class="lede">This privacy notice explains why the Office of the Public Guardian (OPG) collects personal data when you use the ‘Make a lasting power of attorney’ service.</p>
        <p>This privacy notice also explains how we store this data, what we do with it, how you can get a copy of the data we have about you, and how you can complain if you think we’ve done something wrong.</p>
        <p>You should read this notice alongside:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian/about/personal-information-charter" rel="noopener noreferrer" target="_blank">OPG’s personal information charter<span class="govuk-visually-hidden"> (opens in new tab)</span></a>, which sets out the standards you can expect when we ask for, use or share your personal information</li>
            <li><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/732473/opg20-privacy-notice-lpa-and-epa.pdf" rel="noopener noreferrer" target="_blank">OPG’s lasting power of attorney privacy notice<span class="govuk-visually-hidden"> (opens in new tab)</span></a>, which explains how we use and protect your data once we’ve received your paper LPA application</li>
            <li><a href="https://www.payments.service.gov.uk/privacy/" rel="noopener noreferrer" target="_blank">GOV.UK Pay’s privacy notice<span class="govuk-visually-hidden"> (opens in new tab)</span></a></li>
        </ul>

        <h2 class="govuk-heading-m">Who manages the Make a lasting power of attorney service</h2>
        <p>This service is managed by OPG, which is an executive agency sponsored by the Ministry of Justice (MoJ).</p>
        <p>MoJ is the data controller for the personal data we store. <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian/about/personal-information-charter" rel="noopener noreferrer" target="_blank">OPG’s personal information charter<span class="govuk-visually-hidden"> (opens in new tab)</span></a> explains how we process personal data.</p>
        <p>You can find more information about using the 'Make a lasting power of attorney' service in the <a href="/terms" rel="noreferrer noopener" target="_blank">terms of use<span class="govuk-visually-hidden"> (opens in new tab)</span></a> and our <a href="https://www.gov.uk/help/cookies" rel="noopener noreferrer" target="_blank">cookies policy<span class="govuk-visually-hidden"> (opens in new tab)</span></a>.</p>

        <h2 class="govuk-heading-m">Why we collect personal data and how we use it</h2>
        <p>In order to use this service, you need to enter personal information about the donor and the people they want to be involved in their LPA. For example: names, contact details and dates of birth.</p>
        <p>We use the information you provide to populate your LPA application, and for no other purpose.</p>
        <p>You can find out more about how we use the data once you have posted the LPA to us in the lasting power of attorney privacy notice.</p>

        <h2 class="govuk-heading-m">The personal data we collect</h2>
        <p>We only collect the personal data that is relevant for the services we are providing to you.</p>
        <p>The personal data we collect includes:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the name, address, email address and date of birth of the donor, attorneys and replacement attorneys</li>
            <li>the name and address of the correspondent, the certificate provider and any people to notify</li>
        </ul>
        <p>If the donor is applying to pay a reduced or no fee, we will also ask for:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>evidence that the donor receives certain benefits</li>
            <li>evidence of the donor’s income</li>
        </ul>
        <p>This service also contains several free-text fields. You should not enter sensitive information into these free-text fields unless absolutely necessary for your application. Sensitive information may include, but is not limited to, details of religious beliefs and financial information.</p>

        <h3 class="govuk-heading-s">Legal basis for processing this data</h3>
        <p>By registering for and using this service, you consent to us using the data you enter to help you make an LPA application that you can print, sign, and post to the OPG.</p>
        <p>Your use of this online service is optional. If you prefer, you can make an LPA using a paper or PDF form. If you post an LPA application to us, it will be processed in line with OPG's <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/732473/opg20-privacy-notice-lpa-and-epa.pdf" rel="noopener noreferrer" target="_blank">lasting power of attorney privacy notice<span class="govuk-visually-hidden"> (opens in new tab)</span></a>.</p>

        <h3 class="govuk-heading-s">Cookies and site usage data</h3>
        <p>OPG and the Government Digital Service collects site usage information from this service. This allows us to see how the service is being used so we can improve it.</p>
        <p>This information does not contain any personal data and cannot be traced back to you.</p>

        <h2 class="govuk-heading-m">How long we keep your data</h2>
        <p>We keep a copy of your LPA for up to 90 days from the date you last used the service. This means you can sign back in and continue your application if you do not finish it in one session.</p>
        <p>After 90 days we automatically delete the data.</p>

        <h2 class="govuk-heading-m">Sharing your data</h2>
        <p>We will not share your personal data with anyone else unless the law allows or requires us to.</p>
        <p>If you pay your LPA application fee online, you will be directed to GOV.UK Pay. If you choose to pay by card, you’ll need to provide:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>your card number</li>
            <li>the expiry date</li>
            <li>your card verification value (CVV)</li>
        </ul>
        <p>OPG will not store these card details.</p>
        <p>You can find out more about how GOV.UK Pay uses and protects your data in the <a href="https://www.payments.service.gov.uk/privacy/" rel="noopener noreferrer" target="_blank">GOV.UK Pay privacy notice<span class="govuk-visually-hidden"> (opens in new tab)</span></a>.</p>

        <h2 class="govuk-heading-m">Access your personal information</h2>
        <p>You can find out what personal data we hold about you in the service by making a subject access request.</p>
        <p><a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian/about/personal-information-charter" rel="noopener noreferrer" target="_blank">Find out more about subject access requests<span class="govuk-visually-hidden"> (opens in new tab)</span></a>.</p>

        <h2 class="govuk-heading-m">Getting more information</h2>
        <p>You can get more details on:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>agreements we have with other organisations for sharing information</li>
            <li>when we can pass on personal information without telling you, for example, to help with the prevention or detection of crime or to produce anonymised statistics</li>
            <li>instructions we give to staff on how to collect, use or delete your personal data</li>
            <li>how we check that the information we hold is accurate and up-to-date</li>
            <li>how to make a complaint</li>
            <li>anything in this privacy notice</li>
            <li>what to do if you think that your personal data has been misused or mishandled</li>
        </ul>
        <p>For more information, please contact:</p>
        <div class="govuk-inset-text">
            <p>MoJ Data Protection Officer<br>Post point 10.38<br>102 Petty France<br>London<br>SW1H 9AJ</p>
        </div>

        <h2 class="govuk-heading-m">Changes to this policy</h2>
        <p>We may change this privacy policy from time to time. When we do, we’ll update the ‘last updated’ date at the bottom of this page.</p>
        <p>If these changes affect how your personal data is processed, OPG will take reasonable steps to let you know.</p>
        <p>Any changes to this privacy policy will apply to you and your data immediately.</p>

        <h2 class="govuk-heading-m">Making a complaint</h2>
        <p>When we ask for personal data, we will keep to the law. If you think that your information has not been handled correctly, in addition to contacting the MoJ Data Protection Officer, you can contact the Information Commissioner for independent advice about data protection at the address below:</p>
        <div class="govuk-inset-text">
            <p>Information Commissioner's Office<br>Wycliffe House<br>Water Lane<br>Wilmslow<br>Cheshire<br>SK9 5AF</p>
            <p>Phone: 0303 123 1113<br>Textphone: 01625 545860<br>Monday to Friday, 9am to 4:30pm</p>
            <p><a href="https://www.ico.org.uk" rel="noopener noreferrer" target="_blank">www.ico.org.uk<span class="govuk-visually-hidden"> (opens in new tab)</span></a></p>
        </div>
    </div>
    <div class="meta-data govuk-!-margin-top-6">
        <p class="govuk-body">Last updated: 17th September 2019</p>
    </div>
{% endblock %}
